.wrapper {
  font-family: "sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

textarea,
label,
input,
button,
select {
  border: none;
  background: none;
}

.header {
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);
}
.header-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-link {
  text-decoration: none;
  color: #8D8C8B;
  padding: 20px;
}
.header-links {
  text-decoration: none;
  color: black;
  padding: 20px;
}
.header-select {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 30px;
  width: 50px;
  border-radius: 5px;
}
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: #FF8541;
}
.header-button-text {
  color: #ffffff;
}
.header-select-wrap {
  display: flex;
  gap: 20px;
}
.header-link:hover {
  color: black;
}
.header-button:hover {
  background-color: rgba(240, 248, 255, 0.508);
}
.header-button-text:hover {
  color: black;
}
.header-menu {
  display: none;
}

.banner {
  margin-top: 50px;
}
.banner-row {
  width: 100%;
}
.banner-img {
  position: relative;
}
.banner-title {
  position: absolute;
  bottom: 100px;
  left: 80px;
}
.banner-title-text {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
}
.banner-subtitle {
  position: absolute;
  bottom: 50px;
  left: 80px;
}
.banner-subtitle-text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  max-width: 320px;
}
.banner-subtitle-wrap {
  display: flex;
}
.banner-icon {
  position: absolute;
  bottom: 70px;
  left: 350px;
}
.banner-icon:hover {
  background-color: #FDC09F;
  border-radius: 55%;
}

.middle {
  width: 100%;
}
.middle-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle-button {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-title-text {
  font-weight: 500;
  color: black;
  font-size: 25px;
}
.middle-title-text-brown {
  color: #FDC09F;
  padding-left: 10px;
}
.middle-imges {
  position: relative;
}
.middle-imges-text {
  position: absolute;
  top: 0;
}
.middle-imges-wrapper {
  padding-left: 20px;
}
.middle-button:hover {
  background-color: #FDC09F;
  color: aliceblue;
}

.news {
  width: 100%;
}
.news-title {
  font-weight: 800;
  font-size: 30px;
}
.news-names {
  font-weight: 500;
  font-size: 20px;
}
.news-imges {
  width: 339px;
  height: 458px;
  border-radius: 16px;
  background-color: #F9F8F6;
}
.news-subtitle {
  max-width: 289px;
}
.news-img-wrap {
  display: flex;
  justify-content: space-between;
}
.news-namess {
  max-width: 250px;
  font-weight: 500;
  font-size: 20px;
}

.about {
  width: 100%;
  height: 4 0px;
}
.about-big-title {
  font-family: SF Pro Text;
  font-size: 39px;
  font-weight: 600;
  line-height: 46.54px;
}
.about-big-title-text-brown {
  color: #FDC09F;
}
.about-wrapper {
  width: 1420px;
  height: 501px;
  border-radius: 26px;
  background-color: #F9F8F6;
  display: flex;
}
.about-left-block-title {
  font-size: 29px;
  font-weight: 600;
  line-height: 46.54px;
  color: #FDC09F;
  margin: 44px;
}
.about-left-block-subtitle {
  max-width: 523px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 44px;
  color: #555351;
}
.about-left-block-button {
  width: 120px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-left-block-button:hover {
  background-color: #FDC09F;
}
.about-right-block {
  margin: 44px;
  width: 544px;
  height: 425px;
}
.about-right-block-img-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}
.about-right-block-img {
  width: 127px;
  height: 127px;
  position: relative;
}
.about-right-block-icon {
  position: absolute;
  left: 30px;
  top: 30px;
}

.article {
  width: 100%;
  height: 600px;
}
.article-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-title-left {
  font-size: 39px;
  font-weight: 600;
  line-height: 46.54px;
  color: black;
}
.article-title-button {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-title-button:hover {
  background-color: #FDC09F;
}
.article-about-wrap {
  display: flex;
  width: 698px;
  height: 212px;
  background-color: #F9F8F6;
}
.article-about-block-title {
  font-family: SF Pro Text;
  font-size: 25px;
  font-weight: 400;
  line-height: 29.83px;
  padding-left: 10px;
}
.article-about-block-title-wrap {
  display: flex;
  flex-direction: column;
}
.article-about-block-subtitle {
  max-width: 330px;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 10px;
}
.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.commend {
  width: 100%;
  height: 600px;
}
.commend-title {
  font-family: SF Pro Text;
  font-size: 39px;
  font-weight: 600;
  line-height: 46.54px;
}
.commend-title-text-brown {
  color: #FDC09F;
}
.commend-title-text {
  color: black;
}
.commend-imges-wrap {
  display: flex;
  justify-content: space-between;
}
.commend-img {
  width: 337px;
  height: 468px;
}
.commend-img-name {
  color: aliceblue;
}
.commend-img-names-wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.connect {
  width: 100%;
  height: 1000px;
}
.connect-title {
  font-family: SF Pro Text;
  font-size: 39px;
  font-weight: 600;
  line-height: 46.54px;
}
.connect-wrap {
  display: flex;
}
.connect-wrapper {
  width: 1420px;
  height: 524px;
  border-radius: 16px 0px 0px 0px;
  background-color: #F9F8F6;
}
.connect-right {
  margin-left: 100px;
}
.connect-right-title {
  font-family: SF Pro Text;
  font-size: 31px;
  font-weight: 600;
  line-height: 36.99px;
  color: #555351;
}
.connect-input {
  display: flex;
  align-items: center;
  width: 533px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #555351;
  margin-top: 20px;
}
.connect-textarea {
  width: 533px;
  height: 112px;
  border-radius: 8px;
  border: 1px solid #555351;
  margin-top: 20px;
}

.footer {
  width: 1510px;
  height: 156px;
  margin-top: 100px;
  background-color: #F9F8F6;
}
.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-call-center-phone-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-call-center-mail-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-call-center-mail-wrap-mail {
  color: black;
}
.footer-location-map {
  max-width: 210px;
}
.footer-location-button {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 142px;
  height: 43px;
  background-color: #ffffff;
  border-radius: 16px;
}
.footer-location-button:hover {
  background-color: #FF8541;
}
.footer-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 246px;
  height: 57px;
  border-radius: 16px 0px 0px 0px;
  background-color: #ffffff;
}
.footer-brand-text {
  max-width: 163px;
}/*# sourceMappingURL=main.css.map */