 .header{
     width: 100%;
     height: 100px;
     box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);

     &-row{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     &-link{
         text-decoration: none;
         color: #8D8C8B;
         padding: 20px;
     }

     &-links{
         text-decoration: none;
         color: black;
         padding: 20px;
     }

     &-select{
         display: flex;
         align-items: center;
         border: 1px solid black;
         height: 30px;
         width: 50px;
         border-radius: 5px;
        }
         &-button{
             display: flex;
             align-items: center;
             justify-content: center;
             border: 1px solid black;
             height: 30px;
             width: 150px;
             border-radius: 5px;
             background-color: #FF8541;

             &-text{
                 color: aliceblue;
             }
         }

     &-select-wrap{
        display: flex;
        gap: 20px;
    }

     
     &-link:hover{
        color: black;
    }
     &-button:hover{
        background-color: rgba(240, 248, 255, 0.508);
    }
     &-menu{
        display:none;
    }
 }