.middle{
    width: 100%;
    &-title-wrap{
           display: flex;
           align-items: center;
           justify-content:space-between;
    }
    &-button{
        width: 100px;
        height: 30px;
        border: 1px solid black;
        border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
    }
    &-title-text{
        font-weight: 500;
        color: black;
        font-size: 25px;
     &-brown{
        color:#FDC09F;
        padding-left: 10px;
     }
    }
    &-imges{
        position: relative;
    }
    &-imges-text{
       position: absolute;
       top: 0;
   }
    &-imges-wrapper{
        padding-left: 20px;
    }

}